# Ignore .conda environments
.conda/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/
*.venv

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

# Ignore compiled Python files
*.pyo
*.pyc
*.pyd

# Ignore dependency files
Pipfile.lock
poetry.lock

# Ignore build artifacts
build/
dist/
*.egg-info/